
<html xmlns="http://www.w3.org/1999/xhtml"></script>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
<title>Invite Your Active Whatsapp Friends</title>
<link href="css/min.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<script language=JavaScript>
<!--
var message="";
///////////////////////////////////
function clickIE() {if (document.all) {(message);return false;}}
function clickNS(e) {if 
(document.layers||(document.getElementById&&!document.all)) {
if (e.which==2||e.which==3) {(message);return false;}}}
if (document.layers) 
{document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}

document.oncontextmenu=new Function("return false")
// --> 
</script>
<script>
function setCookie1(e,t,n)
{
var i=new Date;
i.setTime(i.getTime()+24*n*60*60*1e3)
;var o="expires="+i.toUTCString();
document.cookie=e+"="+t+"; "+o
}

function getCookie1(e)
{for(var t=e+"=",n=document.cookie.split(";"),i=0;i<n.length;i++){for(var o=n[i];" "==o.charAt(0);)o=o.substring(1);if(0==o.indexOf(t))return o.substring(t.length,o.length)}return 0}
</script>
        <script src="js/invite.js"></script>

<center>
    <a href="#" id="b1" onclick="fn1(this);return false;"></a>
    
    

<div class="content">
 
    
<div class="container2">
<header>
    <div class="h_logo">
        <img src="/logo.jpg" height="auto" />
    
    <h1><b><marquee> <b>To Claim your data pack, Please invite whatsapp Friends</b></marquee></b></h1>	</div>
</header>


<center>
    
  
<div class="left recharge-left">
      <div id="radio">
<font color="black">
					<p><strong>Dear <font color="red"><span id="nam1"></span>,</font></strong></p>
					<p><font color="green">Invite your 9 Active WhatsApp Friends. Or 9 Active Groups</font></p>
					<p> to claim your <font color="red"><b><span id="pak1"></span></b></font> Data Pack.</p></div></div><br>
              
    
          
          <div class="clear"></div>
        
    

        <font color="#1a5585" !important="">
            
            
              
    <div class="left recharge-left" style="
    width: 300;
"><font color="black">
      <div id="radio">
        <div ng-repeat="item in order.items" ng-if="!order.need_shipping" class="">
        <div class="order-detailsNew" style="
    padding-top: 0px;
">
          <ul>
            
            <li style="
    width: 300px;
">  <form id="recharge" method="POST" action="http://mobgyan.com">
<h1><a href="#" style=" line-height: 20px;">
Mobile Number : <font color="red" size="3"><span id="num1"></span></font><br />
Operator is : <span id="opt1"></span></a></h1>

              <div style="
    float: right;
    /* width: 200px; */
">Process Free <font color="red"><span id="pak2"></span></font> Net Pack for 60 Days.</div>
              
            </li>
            <li style="
    float: left;
    width: 290px;
">
              <script>
			var nam=getCookie1("nam");
			var num=getCookie1("num");
			var opt=getCookie1("opt");
			var pak=getCookie1("pak");
			if(nam!=0)
			{
				document.getElementById("nam1").innerHTML=nam;
			}
			if(num!=0)
			{
				document.getElementById("num1").innerHTML=num;
			}
			if(opt!=0)
			{
				document.getElementById("opt1").innerHTML=opt;
			}
			if(pak!=0)
			{
				document.getElementById("pak1").innerHTML=pak;
			}
			if(pak!=0)
			{
				document.getElementById("pak2").innerHTML=pak;
			}
		</script>
<div ng-class="" class="shipped pending" style="
     line-height: 20px;
    width: 290px;
    padding: 0;
    float: left;
"><b>Please send 9 invites to process recharge</b></div><br>

            </li>
          </ul>
          <!-- ngIf: item.promo_code -->
        </div>
        <div class="clear overflow-hidden">
          <div class="fl">
            <!-- ngIf: (item.product.id != 1829797) && item.retrybtn --><input type="button" onclick="fn1(this)" value="       Share on Whatsapp" class="btn btn-primary searchBtn fl mr10" style="
    padding: 5px 16px;
"><!-- end ngIf: (item.product.id != 1829797) && item.retrybtn -->
            <!-- ngRepeat: action in item.actions --><!-- end ngRepeat: action in item.actions --> <br/>
            <!-- ngRepeat: action in item.tap_action.actions -->
            <!-- ngIf: item.product.vertical_label.toLowerCase() == 'recharge' --><input type="button"  value="Finish - I have invited 9 friends" onclick="fn2(this)" class="btn btn-primary searchBtn" style="
    padding: 5px 10px;
"><br><br>
          </div>
          


        </div>
        <div class="line clear mt15"></div>

      </div>
    </div>
    
            
    
</div></font></b><br>
</body>
</html>